<!-- 
/*
* Copyright (C) 2012 Daniel Medina <http://danielme.com>
*
* This file is part of "Android Display Rotation Demo".
*
* "Android Display Rotation Demo" is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, version 3.
*
* "Android Display Rotation Demo" is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License version 3
* along with this program. If not, see <http://www.gnu.org/licenses/gpl-3.0.html/>
*/ 
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danielme.blog.android.displayrotationdemo"
    android:versionCode="1"
    android:versionName="1.0" >
 
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher_danielme"
        android:label="@string/app_name" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DefaultActivity"
            android:label="@string/app_name_default"
             />
        <activity
            android:name=".DefaultRetainDataActivity"
            android:label="@string/app_name_default_retain"
             />
          
         <activity
            android:name=".DIYActivity"
            android:label="@string/app_name_diy"
            android:configChanges="orientation|keyboardHidden"
             />
         
         <activity
            android:name=".LockActivity"
            android:label="@string/app_name_lock"
            android:screenOrientation="portrait"
             />
    </application>

</manifest>